@import "tailwindcss";

.textGradient{
    background: linear-gradient(90deg, 
              #3865ec 0%, 
              #923ceb 100%);
  background-clip: text; 
  color: transparent;
}
.bodyBg{
    background: linear-gradient(90deg, 
              rgba(56, 101, 236,0.2) 0%, 
              rgba(146, 60, 235,0.2) 100%);

}